.nav {
	background-color: $lug-bot-primary;
	justify-content: center;

	.nav-link {
		border-bottom: 3px solid transparent;
		color: #fefefe;
		font-size: 1.125rem;
		font-weight: 600;
		padding: 0.875rem 1.125rem 0.688rem;

		&.active {
			border-bottom-color: #fff;
		}

		&:hover {
			border-bottom-color: #fff;
			color: #fff;
			text-shadow: 0 0 1px lighten($lug-bot-primary, 10%);
		}
	}
}
