@import 'atlas';

@import 'variables';

body {
	background-color: $lugbot-canvas;

	#__next {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
	}
}

footer {
	margin-top: auto;
	margin-bottom: 1rem;
}

.btn-sm {
	max-height: 32px;
}

.d2h-file-collapse {
	display: none;
}

.list-group-header-title {
	color: $gray-100;
}

.navbar {
	.navbar-nav,
	.navbar-collapse {
		width: 100%;
	}
}
