@import 'atlas';

@import 'variables';

@import 'footer';
@import 'jobs';
@import 'nav';

body {
	background-color: $lug-bot-canvas;

	#__next {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
	}
}
