@import 'atlas';

@import 'variables';

body {
	background-color: $lugbot-canvas;

	#__next {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
	}
}

footer {
	margin-top: auto;
	margin-bottom: 1rem;
}

.list-group-header-title {
	color: $gray-100;
}
